@import "~bootstrap/scss/bootstrap";

$primary: #ff0000;

.hide-alert{
  display: none;
}

.show-alert{
  display: block;
}
/* define car columns*/
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }

    @include media-breakpoint-only(sm) {
        column-count: 1;
    }

    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
}